.title-salvadoras {
  text-align: center;
  background-color: #c4b2e6;
  color: white;
  
  padding: 10px 15px;
  border-radius: 10px;
}
.salvadoras {
  display: flex;
  flex-direction: column;
  align-items: center;
}
