.MuiPaper-root {
  background-color: #c4b2e6 !important;
  border-radius: 50px !important;
}
.paper {
  padding: 16px;
  text-align: center;
  margin-bottom: 20px;
  background-color: #c4b2e6;

  .title-salvadora {
    color: white;
  }

  .image-salvadoras {
    width: 100%;
    height: auto;
    border-radius: 50px;
  }

  .describe {
    font-weight: 400;
    text-align: justify;
    color: white;
    padding-bottom: 20px;
  }

  .button {
    padding: 7px 14px;
    background-color: white;
    border-radius: 50px;
    border-style: none;
    color: #c4b2e6;
    font-weight: bold;
    bottom: 10px; /*Abajo deje un espacio de 0px*/
    z-index: 0;
  }
}
