.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo {
    height: 100%;
    width: 60px;
  }
  .navs {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .nav {
      padding: 10px 15px;
      cursor: pointer;
    }

    .nav-salvadoras {
      padding: 10px 15px;
      cursor: pointer;
      background-color: #c4b2e6;
      border-radius: 10px;
      color: white;
      font-weight: bold;
    }
  }
}
